{% extends 'base_form.html' %}
{% block body %}
<div class="signup_header">
    <a href="" target="_blank">
    </a>
</div>

<div class="signup_body">
<form class="login_form" method='POST' enctype="multipart/form-data">
    {% csrf_token %}

    <span class='label signup-title center-align'>Reset your password.</span>

    <label for="sign-up-email" class="label">
        What's your email?
    </label>
    <input type="email" class="form_input" name="email" placeholder="Enter your email." required>

    <button class='btn btn_log_in' type="submit">Send</button>
    <div class="divider"></div>
    <p class='label center-align'>Already have an account and i did not forget my password? <a href="/account/login">Log in</a>.</p>
    <p class='label center-align'>I do not have an account? <a href="/account/signup">Signup</a>.</p>
</form>
{% if form.errors %}
<div class="alert alert-danger alert-dismissible" role="alert">
    <div id="form_errors">
        {% for key, value in form.errors.items %}
        <strong>{{ value }}</strong>
        {% endfor %}
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>

{% endif %}
</div>
{% endblock %}
